div {
  width: 100px;
  height: 100px;
  background-color: #FF3F2A;
  position: relative;
  animation: foo 2s ease-in infinite alternate;

}

@keyframes foo {
  0% {
    background-color: #FF984C;
  }
  25% {
    background-color: #FF73A5;
  }
  50% {
    background-color: #9264FF;
  }
  75% {
    background-color: #51A8FF;
  }
  100% {
    background-color: #5BFF91;
  }
}