html, button, input, select, textarea, .pure-g [class *= "pure-u"] { /* 修改Pure默认字体栈及字体样式 */
  font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
  font-size: 16px;
  color: #888;
  text-shadow: 0px 1px 0px #fff;
  text-rendering: auto;
}

/* == CSS 导航 0.选择器后缀(map-css-selecter) ==
 *
 * == CSS 导航 1.基础(map-css-base) ==
 * == CSS 导航 2.盒子(map-css-box) ==
 * == CSS 导航 3.定位(map-css-position) ==
 * == CSS 导航 4.背景(map-css-background) ==
 * == CSS 导航 5.格式(map-css-space) ==
 * == CSS 导航 6.字体(map-css-font) ==
 * == CSS 导航 7.变形(map-css-transform) ==
 * == CSS 导航 8.动画(map-css-animation) ==
 * == CSS 导航 9.指针(map-css-cursor) ==
 *
 * == CSS 导航 group 1.布局(map-css-grounp-layout) ==
 */
