<!DOCTYPE html>
<html lang="zh-cmn-hans">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <!-- normalize.css：css 初始化(react)，统一各浏览器下的文档空白样式 -->
  <link href="https://cdn.bootcss.com/normalize/3.0.3/normalize.min.css" rel="stylesheet">
  <!-- html5shiv.js：使 IE-678 兼容 HTML5 标签，respond.js：使 IE-678 兼容 CSS3 媒体查询 -->
  <!--[if lte IE 8]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  <!-- pure-grids：css 栅栏布局，依赖 normalize.css -->
  <link href="https://cdn.bootcss.com/pure/0.6.0/grids-min.css" rel="stylesheet">
  <!-- responsive：css 栅栏布局添加响应式，IE-678 下依赖 respond.js -->
  <!--[if lte IE 8]>
    <link href="https://cdn.bootcss.com/pure/0.6.0/grids-responsive-old-ie-min.css" rel="stylesheet">
  <![endif]-->
  <!--[if gt IE 8]><!-->
    <link href="https://cdn.bootcss.com/pure/0.6.0/grids-responsive-min.css" rel="stylesheet">
  <!--<![endif]-->
  <style>
    html, button, input, select, textarea, .pure-g [class *= "pure-u"] { /* 修改Pure默认字体栈 */
      font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
    }

    html, body {
      height: 100%;
    }

    #sidebar {
      background-color: #666;
      height: 100%;
    }

    #container {

    }
  </style>
</head>
<body class="pure-g">
  <!-- <nav class="pure-u-1">导航栏</nav>
  <header class="pure-u-1">头部</header> -->
  <div id="sidebar" class="pure-u-1 pure-u-md-1-8">侧边栏</div>
  <div id="container" class="pure-u-1 pure-u-md-7-8">
    <div class="column pure-g">
      <section class="pure-u-1 pure-u-md-1-3">1</section>
      <section class="pure-u-1 pure-u-md-1-3">1</section>
      <section class="pure-u-1 pure-u-md-1-3">1</section>
    </div>
    <div class="column pure-g">
      <section class="pure-u-1 pure-u-md-1-3">1</section>
      <section class="pure-u-1 pure-u-md-1-3">1</section>
      <section class="pure-u-1 pure-u-md-1-3">1</section>
    </div>
  </div>
  <!-- <footer class="pure-u-1">底部</footer> -->

  <script src="https://cdn.bootcss.com/jquery/2.1.0/jquery.min.js"></script>
  <script>
  $(function(){

  });
  </script>
</body>
</html>
