<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <title>居中布局</title>
    <style>
        #wrap {
            text-align:center;
        }
        
        .box {
            text-align:left;
            zoom:1;            
            display:inline-block;
            *display:inline;
        }
    </style>
</head>
<body>
    <div id="wrap">
        <div class="box">
            <p>111111111111</p>
            <div>222222222222222222222222222</div>
            <div style="width:400px; background-color:red;">3</div>
        </div>
    </div>
</body>
</html>