@font-face {
    font-family: "默陌信笺手写体";
    src: url("默陌信笺手写体.eot"); /* IE9 */
    src: url("默陌信笺手写体.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    
    url("默陌信笺手写体.woff") format("woff"), /* chrome、firefox */
    url("默陌信笺手写体.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */
    
    url("默陌信笺手写体.svg#默陌信笺手写体") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


